<% layout("../layouts/boilerplate") -%>
<body>
    <div class="row">
    <div class="col-6 offset-3">
    <form method="post" action="/listings/<%= data._id %>?_method=PUT" novalidate enctype="multipart/form-data">
        <h1>Edit Your Listing</h1>
       <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" name="title"  value="<%= data.title %>">
       </div>
       <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" ><%= data.description %></textarea>
       </div>
       <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" name="category"  aria-label="select category">
                <option selected><%= data.category %></option>
                <% for(let i=1;i<=categories.length;i++){ %>
                    <option value="<%= categories[i]  %>"><%= categories[i] %></option>
                <% } %>
            </select>
        </div>
       <div class="row">
            <div class=" col-9 mb-3">
                     <p>original image</p>
                     <img src="<%= originalUrl %>" style="height:200px;width: 200px;">
                     <br>  
                    <label for="img" class="form-label">Image</label>
                    <input class="form-control" type="file" name="img"  placeholder="upload new image file">
            </div>
            
        </div>
        <div class="row">
                <div class=" col mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" type="number" name="price" value="<%= data.price %>">
            </div>
            <div class="col mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" name="location" value="<%= data.location %>">
            </div>
            <div class=" col mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" name="country" value="<%= data.country %>">
            </div>
        </div>
        <br>       
        <button type="submit" class="btn btn-danger mb-3">make changes</button>
    </form>
    </div>
    </div>  
</body>
